.upper-header,
.lower-header,
.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    margin: 0px;
    padding: 20px;
}

button {
    font-family: Roboto, sans-serif;
    border: none;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 5px;
    background-color: #3882F6;
    color: #F9FAF8;
    height: 30%;
}

body {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

/*This is the first part of the website */

.lower-header-left button {
    border-style: solid;
    border-width: 1px;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    font-weight: bold;
}

.right-links ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.right-links {
    margin-left: auto;
}

.upper-header {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
}

/*This is the second part of the website */

.lower-header {
    padding-bottom: 50px;
    padding-left: 30px;
}

.lower-header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.slogan {
    font-size: 48px;
    color: #F9FAF8;
    font-size: xx-large;
}

.lower-header-right {
    background-color: #E5E7EB;
    width: 400px;
    height: 150px;
    margin-left: auto;
    color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* This is the third part of the website */

h1 {
    text-align: center;
    color: #1F2937;
}

.white-space {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-around;
}

.card-container {
    display: flex;
    margin: 10px;
    justify-content: space-around;
    padding: 20px;
}

.empty {
    width: 200px;
    height: 200px;
    border: 50px;
}

.image {
    width: 300px;
    height: 300px;
    border-style: solid;
    padding: 0px;
}

.image img {
   height: 100%;
   width: 100%;
   object-fit: fill;
}

.card-container div {
    color: #1F2937;
    text-align: center;
}

/* This is the quote part of the website */

.quote {
    display: flex;
    flex-direction: column;
    padding: 50px 150px;
    background-color: #E5E7EB;
    margin-top: 60px;
}

.quote-one {
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    color: #1F2937;
}

.quote-two {
    text-align: right;
    color: #1F2937;
    font-weight: bolder;
}

/* This is the shop part of the website */

.shop-container {
    margin: 100px 200px;
    display: flex;
    padding: 10px 50px;
    background-color: #3882F6;
    border-radius: 8px;
    color: #F9FAF8;
    
}

.text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header {
    font-size: larger;
    font-weight: bolder;
    margin-bottom: 5px;
}

.shop-container button {
    margin-left: auto;
    border-style: solid;
    border-width: 1px;
    width: 100px;
    height: 60px;
    font-size: large;
    border-radius: 15px;
}


/* This is the footer part of the website */

.footer{
    justify-content: center;
}